@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable< RFProjekt.Dnn.KeresoModulSivatagiHarco.Models.Item >>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers


<h2>Hello world!! :))</h2>
<h3>Modul</h3>
